<div class="function-wrapper">
    <div class="row">
        <div class="col l-6 m-6 c-12">
            <button class="action-add">
                Thêm mới <i class="fa-solid fa-circle-plus"></i>
            </button>
        </div>
        <div class="col l-6 m-6 c-12">
            <div class="function__search-box">
                <input type="text" class="function__search__input"> <button
                    class="function__search__btn">Tìm Kiếm</button>
            </div>
        </div>
    </div>
</div>