.modal-box2{
    background-color: #F8F7F5;
    color: #969493;
    width: 556px;
    height: 185px;
    padding-top: 36px;
    box-shadow: 5px 6px 7px 1px #c1bfbe;
    border-radius: 4px;
}
.modal-box2 h1{
    font-size: 30px;
    text-align: center;
}
.modal-Delete__btn{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.but{
    width: 94px;
    height: 48px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: black;
}
.but-delete{

}
.but-cancle{

}