<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../library/reset.css">
    <link rel="stylesheet" href="../../library/grid.css">
    <link rel="stylesheet" href="./sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>document</title>
</head>
<body>
    <div class="header">
        <ul class="header__nav">
            <div class="sidebar-btn"><i class="fa-solid fa-bars"></i></div>
            <li><a href="#">Admin</a></li>
            <li class="back-to-CV"> <a href="#"><i class="fa-solid fa-rotate-left"></i>Về trang web</a>
            </li>
            <li><a href="#">Hướng dẫn</a></li>
            <li><a href="#">Hỗ trợ</a></li>
        </ul>

        <div class="header__hello">
            Xin chào: admin <i class="fa-solid fa-caret-down"></i>
        </div>
        <a class="log-out">Đăng xuất</a>
    </div>

    <div class="body-container">
        <div class="grid">
            
                <div class="row no-gutters ">
                    <div class="col l-2 m-3">
                        <div class="sliderbar-container">               
                            <ul id="sidebar" class="side__items">
                                <li class="side__item side__item--members"><a href=""><i class="sidebar--icon fa-solid fa-person"></i>Thành viên</a></li>
                                <li class="side__item side__item--posts js-posts--open">
                                    <a href="#">
                                        <i class="sidebar--icon fa-solid fa-newspaper"></i>
                                        Bài viết
                                    </a>
                                    <div class="up-down-icon">
                                        <i class="posts--icon  fa-solid fa-angle-down"></i>
                                    </div>
                                    <ul class="posts__nav">
                                        <li><a href="#">- Giới thiệu</a></li>
                                        <li><a href="#">- Dịch vụ</a></li>
                                        <li><a href="#">- Kĩ năng</a></li>
                                        <li><a href="#">- Lĩnh vực</a></li>
                                        <li><a href="#">- Kinh nghiệm</a></li>
                                        <li><a href="#">- Liên hệ</a></li>
                                    </ul>    
                                </li>
                                <li class="side__item side__item--contact"><a href=""><i class="sidebar--icon fa-solid fa-address-card"></i>Liên hệ</a></li>
                                <li class="side__item mobile-item">
                                   <a href="#">Hướng dẫn</a> 
                                </li>
                                <li class="side__item mobile-item">
                                    <a href="#">Hỗ Trợ</a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-10 m-9">
                        <div class="function-container">

                           
                        </div>
                    </div>
                </div>
            
        </div>
    </div>

    <div class="footer-container">
        <p class="footer-texx">Copyright belong to team 10</p>
    </div>

    <script src="../Templates/sidebar.js"></script>
</body>
</html>