:root{
    --primary-color : #F4F6F8;
    --white-color: #fff;
    --black-color: #333333;
    --text-color: #333;
}
html{
    
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}
/* Template */
.category{
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px;
}
.category h1{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    color: #212529;
    display: inline;
    margin-bottom: 48px;
    position: relative;
    
}
.category h1::after{
    content: "";
    width: 125px;
    height: 30px;
    position: absolute;
    bottom: -85%;
    right: 15%;
    background-image: url(../image/marker.svg);
    background-repeat: no-repeat;
}
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
.header{
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 999;
}
.header-wrapper{
     display: flex; 
     justify-content: space-between;
     align-items: center;
     padding: 0 91px;
     
}
/* .banner>.grid.wide-l{
    background-color: var(--primary-color);
} */
.header__name-link{
    text-decoration: none;
    color: var(--black-color);
    font-size: 24px;
    font-weight: 700;
}
.header__nav{
    
    margin: 18px 0;
}
/* menu */
.mobile-tablet-menu{

}
.mobile-tablet-menu i{
    font-size: 35px;
    margin-right: 10px;
}

.header__nav-list{
    display: flex;
    flex-direction: row;
}
.header__nav-item{
    list-style: none;
    
}
.header__nav-item-link{
    text-decoration: none;
    color: var(--black-color);
    font-size: 16px;
    padding: 8px 9px;
    font-weight: 700;
    line-height: 48px;
}
.header__nav-item:hover{
    opacity: 0.7;
}
/* BANNER */
.banner{
    background-color: var(--primary-color);
    position: relative;
}
/* .banner-wrapper{
    background-color: var(--primary-color);
} */
.banner__img-box{

}
.banner__img-box img{
    margin-top: 114px;
    margin-left: 112px;
    width: 74%;
}
.banner__info-box{
    margin-top: 155px;
}
.banner__info-title{
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 18px;
}
.banner__info-name{
    font-size: 40px;
    font-weight: 800;
    margin: 0 0 16px;
    position: relative;
    display: inline;
    width: auto;
}
.banner__info-name::after{
    content: "";
    width: 125px;
    height: 30px;
    position: absolute;
    top: 50px;
    right: -8px;
    background-image: url(../image/marker.svg);
    background-repeat: no-repeat;
}
.banner__info-job{
    font-size: 20px;
    margin: 32px 0 16px;
    color: #212529;
}
.banner__info-icon{
    margin-top: 28px;
}
.banner__info-icon-link{
    font-size: 17px;
    color: #212529;
    text-decoration: none;
    padding: 0 8px;
}
.banner__info-icon-link:hover{
    opacity: 0.7;
}
.banner__info-btn{

}
.banner__info-btn-link{

}
.banner__info-btn-link button{
    padding: 15px 33px;
    margin-top: 54px;
    border-radius: 48px;
    border: none;
    outline: none;
    background-color: #F6E05E;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
    transition: transform ease 0.3s;
}

.banner__info-btn-link button:hover{
    opacity: 0.7;
    transform: translateY(-3px);
}

.banner-btn-icon{

}
.banner__wave{
    display: block;
    height: 220px;
    width: 100%;
    min-width: 600px;
    background-image: url(../image/wave-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}
.admin-info{
    margin-top: 283px;
}

.admin-info__wrapper{
    margin-top: 67px;
}
.admin-info__box1{

}
.admin-info__box1-name{
    font-size: 24px;
    margin: 16px 0;
    font-weight: 700;
}
.admin-info__box1-introduce{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 26px;
}
.admin-info__box1-subbox1{
}
.subbox1-wrapper{
    padding: 8px 0;

}
.subbox1-wrapper p{
    display: inline-block;
}
.subbox1-wrapper span{
    margin-left: 19px;
    font-weight: 700;
}
.admin-info__box2{

}
.admin-info__box2-img{
    margin-left: 87px;
    border-radius: 30px;
    max-width: 100%;
}
.subbox1-wrapper .span0{
    padding-left: 30px;
}
.subbox1-wrapper .span1{
    padding-left: 20px;
}
.subbox1-wrapper .span2{
    padding-left: 15px;
}
.subbox1-wrapper .span3{
    padding-left: 12px;
}
.subbox1-wrapper .span4{
    
}
.subbox1-wrapper .span5{
    padding-left: 12px;
}
/* services */
.services__container{
    margin-top: 69px;
}
.category-about{

}
.services__item{
    padding-top: 32px;
    padding-bottom: 32px;
}
.services__item__img{
    margin-left: 87px;
    margin-bottom: 16px;
}
.category-about p{
    font-size: 16px;
    text-align: center;
    max-width: 600px;
    color: #212529;
    margin: 0px 212px 32px;
    line-height: 26px;
}
/* percent  */
.skills{

}
.skills__container{
    margin-top: 81px;
}
.skills__item-container1{
    /* padding: 12px 94px 8px 12px; */
}
.skills__item-container2{
    /* padding: 12px 12px 8px 94px; */
    display: flex;
    flex-direction: column;
    align-items: end;
}
.skills__item{
    margin-bottom: 50px;
    background-color: #F4F6F8;
    padding: 32px
}
.services__name{
    font-size: 20px;
    text-align: center;
    margin: 0px 0px 16px;
    padding-left: 29px;
    font-weight: 700;
    line-height: 1.2;
}
.skills__item__wrapper{
    padding: 8px 0;
    width: 82%;
}
.skills__item__heading{
    display: flex;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 6px;
}
.skills__item__heading h1{
    flex: 1;
}
.skills__item__heading span{

}
.skills__item__percent-wrapper{
    background-color: #E9ECEF;
    height: 16px;
    border-radius: 10px;
    width: 100%;
}
.skills__item__percent--90{
    height: 16px;
    border-radius: 10px;
    width: 90%;
    background-color: #F6E05E;
}
.skills__item__percent--80{
    height: 16px;
    border-radius: 10px;
    width: 80%;
    background-color: #F6E05E;
}
.skills__item__percent--75{
    height: 16px;
    border-radius: 10px;
    width: 75%;
    background-color: #F6E05E;
}
.skills__item__percent--70{
    height: 16px;
    border-radius: 10px;
    width: 70%;
    background-color: #F6E05E;
}
.skills__item__percent--60{
    height: 16px;
    border-radius: 10px;
    width: 60%;
    background-color: #F6E05E;
}
.test{
    background-color: red;
    height: 100vh;
}

