:root{
    --primary-color : #F4F6F8;
    --white-color: #fff;
    --black-color: #333333;
    --text-color: #333;
}
html{
    
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}
/* Template */
.category{
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px;
}
.category h1{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    color: #212529;
    display: inline;
    margin-bottom: 48px;
    position: relative;
    
}
.category h1::after{
    content: "";
    width: 125px;
    height: 30px;
    position: absolute;
    bottom: -85%;
    right: 15%;
    background-image: url(../image/marker.svg);
    background-repeat: no-repeat;
}
.header{
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 999;
}
.header-wrapper{
     display: flex; 
     justify-content: space-between;
     align-items: center;
     padding: 0 91px;
     
}
/* .banner>.grid.wide-l{
    background-color: var(--primary-color);
} */
.header__name-link{
    text-decoration: none;
    color: var(--black-color);
    font-size: 24px;
    font-weight: 700;
}
.header__nav{
    
    margin: 18px 0;
}
/* menu */
.mobile-tablet-menu i{
    font-size: 35px;
    margin-right: 10px;
}

.header__nav-list{
    display: flex;
    flex-direction: row;
}
.header__nav-item{
    list-style: none;
    
}
.header__nav-item-link{
    text-decoration: none;
    color: var(--black-color);
    font-size: 16px;
    padding: 0px 9px;
    font-weight: 700;
    line-height: 48px;
    display: block;
}
.header__nav-item:hover{
    opacity: 0.7;
}
/* BANNER */
.banner{
    background-color: var(--primary-color);
    position: relative;
}
.banner__img-box img{
    margin-top: 114px;
    margin-left: 112px;
    width: 74%;
}
.banner__info-box{
    margin-top: 155px;
}
.banner__info-title{
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 18px;
}
.banner__info-name{
    font-size: 40px;
    font-weight: 800;
    margin: 0 0 16px;
    position: relative;
    display: inline;
    width: auto;
}
.banner__info-name::after{
    content: "";
    width: 125px;
    height: 30px;
    position: absolute;
    top: 50px;
    right: -8px;
    background-image: url(../image/marker.svg);
    background-repeat: no-repeat;
}
.banner__info-job{
    font-size: 20px;
    margin: 32px 0 16px;
    color: #212529;
}
.banner__info-icon{
    margin-top: 28px;
}
.banner__info-icon-link{
    font-size: 17px;
    color: #212529;
    text-decoration: none;
    padding: 0 8px;
}
.banner__info-icon-link:hover{
    opacity: 0.7;
}
.banner__info-btn-link button{
    padding: 15px 33px;
    margin-top: 54px;
    border-radius: 48px;
    border: none;
    outline: none;
    background-color: #F6E05E;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
    transition: transform ease 0.3s;
}

.banner__info-btn-link button:hover{
    opacity: 0.7;
    transform: translateY(-3px);
}

.banner__wave{
    display: block;
    height: 220px;
    width: 100%;
    min-width: 600px;
    background-image: url(../image/wave-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}
.admin-info{
    margin-top: 190px;
    padding-top: 30px;
}

.admin-info__wrapper{
    margin-top: 67px;
}

.admin-info__box1-name{
    font-size: 24px;
    margin: 16px 0;
    font-weight: 700;
}
.admin-info__box1-introduce{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 26px;
}

.subbox1-wrapper{
    padding: 8px 0;

}
.subbox1-wrapper p{
    display: inline-block;
}
.subbox1-wrapper span{
    margin-left: 19px;
    font-weight: 700;
}

.admin-info__box2-img{
    margin-left: 87px;
    border-radius: 30px;
    max-width: 100%;
}
.subbox1-wrapper .span0{
    padding-left: 30px;
}
.subbox1-wrapper .span1{
    padding-left: 20px;
}
.subbox1-wrapper .span2{
    padding-left: 15px;
}
.subbox1-wrapper .span3{
    padding-left: 12px;
}

.subbox1-wrapper .span5{
    padding-left: 12px;
}
/* services */
.services{
    margin-top: -64px;
    padding-top: 64px;
}
.services__container{
    margin-top: 69px;
}

.services__item{
    padding-top: 32px;
    padding-bottom: 32px;
}
.services-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__item__img{
    margin-bottom: 16px;
}
.category-about p{
    font-size: 16px;
    text-align: center;
    max-width: 600px;
    color: #212529;
    margin: 0px 212px 32px;
    line-height: 26px;
}
/* percent  */
.skills{
    margin-top: -60px;
    padding-top: 60px;
}
.skills__container{
    margin-top: 81px;
}
.skills__item-container2{
    /* padding: 12px 12px 8px 94px; */
    display: flex;
    flex-direction: column;
    align-items: end;
}
.skills__item{
    margin-bottom: 50px;
    background-color: #F4F6F8;
    padding: 32px
}
.services__name{
    font-size: 20px;
    text-align: center;
    margin: 0px 0px 16px;
    /* padding-left: 29px; */
    font-weight: 700;
    line-height: 1.2;
}
.skills__item__wrapper{
    padding: 8px 0;
    width: 82%;
}
.skills__item__heading{
    display: flex;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 6px;
}
.skills__item__heading h1{
    flex: 1;
}

.skills__item__percent-wrapper{
    background-color: #E9ECEF;
    height: 16px;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}
.skills__item__percent--90{
    height: 16px;
    border-radius: 10px;
    width: 90%;
    background-color: #F6E05E;
    overflow: hidden;
}
.skills__item__percent--80{
    height: 16px;
    border-radius: 10px;
    width: 80%;
    background-color: #F6E05E;
}
.skills__item__percent--75{
    height: 16px;
    border-radius: 10px;
    width: 75%;
    background-color: #F6E05E;
}
.skills__item__percent--70{
    height: 16px;
    border-radius: 10px;
    width: 70%;
    background-color: #F6E05E;
}
.skills__item__percent--60{
    height: 16px;
    border-radius: 10px;
    width: 60%;
    background-color: #F6E05E;
}
.test{
    background-color: red;
    height: 100vh;
}
.aos-animate {
    opacity: 1;
    transform: translateZ(0) scale(1);
}

/* Portfolio */
.portfolio{
    /* padding: 64px 48px 0; */
    padding: 93px 48px 0 48px;
    margin-top: -50px;
}
.portfolio__container{
    padding: 0px 48px;
}
.portfolio-img{
    width: 100%;
    padding: 5px 7px;
}
.portfolio-imgs__box{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.portfolio-content{
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    padding: 12px 0;
    text-align: center;
    animation: boxDown linear 0.3s forwards;
}
.portfolio-img:hover ~ .portfolio-content{
    animation: boxUp linear 0.3s forwards;
}
.portfolio-content:hover{
    animation: boxUp linear 0.3s forwards;
}
.portfolio-content__title{
    color: #222;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 32px;
}
.portfolio-content__path{
    font-size: 16px;
    color: #212529;
    margin-bottom: 8px;
    opacity: 0.8;
}


.gallery{
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0;
    pointer-events: none;   /*Làm cho mất cái fixed cứng  */
    /* transform: scale(0.8); */
    /* transition: 0.5s; */
}
.galley__inner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8); 
    transition: 0.5s;
}
.gallery__close{
    margin-right: 20px;
    text-align: end;
    font-size: 36px;
    color: #FFF;
    padding: 3px;
    cursor: pointer;

}
.control{
    font-size: 77px;
    position: absolute;
    top: 50%;
    color: white;
    cursor: pointer;
    opacity: 0.6;
}
.control:hover{
    opacity: 1;
}
.control.prew{
    left: 50px;
}
.control.next{
    right: 50px;
}
.galley__inner img{
    height: 100%;
    object-fit: contain;
    width: 100%;
    margin-top: -31px;
    padding-bottom: 42px;
    image-rendering: pixelated;
    overflow: hidden;
}
.gallery-content{
    position: absolute;
    bottom: 0;
    background: rgba(15,15,15,0.94);
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 24px 0;
}

.gallery-content__container h1{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.gallery-content__container p{
    font-size: 15px;
    margin-top: 4px;
}
.sub-close{
    position: absolute;
    top: -39px;
    left: 36px;
    font-size: 31px;
    padding: 3px 20px;
    border-radius: 2px;
    background-color: #DCCA5C;
}
.sub-close:hover{
    opacity: 1;
    cursor: pointer;
}
.sub-close{
    opacity: 0.8;
}


.hide-galleryContentBox{
    display: none;
}
.show-galleryContentBox{
    display: block;
}

.show{
    opacity: 1;
    pointer-events: auto;
    /* transform: scale(1); */
}
.show2{
    transform: scale(1);
}

.gallery-count{
    display: inline;
    font-size: 25px;
    color: #FFF;
    position: absolute;
    left: 20px;
    top: 14px;
}
.control__active{
    opacity: 1;
}
