h1 {
    font-size: 30px;  
}

.main-content {
    display: flex;
    flex-direction: column;
}

.container-number-member {
    margin: auto;
}

.number-member {
    width: 160px;
    height: 130px;
    border-radius: 20%;
    background-color: red;
    text-align: center;
    line-height: 130px;
    font-size: 70px;
    color: #fff;
    margin-top: 40px;
}

.help {
    text-align: center;
    margin-top: 300px;
}

.help p {
    font-size: 20px;
}



