.experienceform__table{
    width: 90%;
    margin: 130px auto 0px;
    position: relative;
}
.action-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.action-btn{
    margin: 8px 10px;
    width: 32%;
    height: 34px;
    cursor: pointer;
}
table, th, td {
    border:3px solid black;
}
.experienceform__table__key th{
    font-size: 21px;
    padding: 5px;
    font-weight: 600;
}
.experienceform__table__rows td{
    text-align: center;
}
.box-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #EFEFF6;
}