.login-btn {
    margin-top: 10px;
    font-size: 24px;
    padding: 4px 12px;
    color: #000;
    font-weight: bolder;
    border-radius: 8px;
}

#login {
    display: flex !important;
    width: 1000px;
    margin: 30px auto;
    height: 600px;
    border: 2px solid #2b3e51;
    background-color: #1f8df9a1;
    border-radius: 8px;

}

#login-form input {
    padding-left: 8px;
}

#login .login__item-left {
    /* flex: 2; */
    text-align: center;
    border-right: 2px solid #2b3e51;
    font-size: 40px;
}

#login .login__item-right {
    /* flex: 1; */
    text-align: center;
}

#login .login__item-right h2 {
    font-size: 24px;
}
.img-background {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 50%;
    background: url(../../image/login/img2.jfif);
    background-size: 100%;
    margin-bottom: 20px;
}


.item__left-icon {
    font-size: 70px;
}



.login_create {
    margin-top: 10px;
    font-size: 24px;
    color: #000;
}

.login_create a {
    color: #000;
}

#login .login__item-right {
    /* display: none; */
}

#login .login__item-forgot {
    display: none;
    /* flex: 1; */
    flex-direction: column;
    text-align: center;
}

#login .login__item-forgot h2 {
    font-size: 24px;

}

.login-back {
    margin-top: 10px;
    color: #000;
    font-size: 24px;
}

.login-back a{
    color: #000;
}

input {
    margin-top: 20px;
    border-radius: 8px;
    height: 36px;
    width: 80%;
}

.dis-flex {
    display: flex !important;
}

.dis-none {
    display: none !important;
}
.userError,.passwordError{
    display: block;
}

@media (max-width: 739px) {
    #login {
        width: 90vw;
    }

    #login .login__item-left{
        display: none;
    }
    
    #login .login__item-right {
        width: 100%;
    }

    #login .login__item-forgot {
        width: 100%;
    }
}

